.card-container {
  margin: 100px;
  border: 1px solid #e4eaf2;
  border-radius: 16px;
  max-width: 584px;
  padding-bottom: 10px;
  font-family: "Montserrat";
  font-style: normal;
  text-align: left;

  .card-blog-image {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
  }

  .bottom-content {
    padding: 24px;

    .line {
      width: 100%;
      margin: 15px 0px;
      border: 1px solid;
      border-color: #EEEEEE;
    }

    .r-font.card-sub {
      color: #333333;
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.25px;
    }

    .blog-title {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
    }

    .more-button {
      border: 1px solid #2C74D6;
      font-weight: 700;
      font-size: 14px;
      width: fit-content;
      padding: 15px;
      color: #2C74D6;
      margin-top: 20px;
      border-radius: 4px;

      &:hover {
        cursor: pointer;
      }
    }

    .blog-date {
      color: #555555;
      font-family: "Roboto";
      margin-top: 15px;
    }
  }
}