@import url("../../fonts.scss");

.blog-container {
  .top-section {
    max-height: 80vh;
    position: relative;
    overflow: hidden;

    .left-section {
      z-index: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-align: left;
      position: absolute;
      height: 100%;
      padding-left: 120px;

      .title-text {
        font-family: "Montserrat";
        font-size: 1.62rem;
        max-width: 900px;
        color: #ffffff;
      }

      .publish-date {
        color: #ffffff;
        font-family: "Roboto";
        font-size: 1.62rem;

        h4 {
          font-weight: 300;
        }
      }

      .read-blog {
        padding: 15px;
        max-width: 100px;
        display: flex;
        color: #fff;
        border: 1px solid #ffffff;
        border-radius: 4px;
        align-items: center;
        font-family: "Roboto";
        font-weight: 500;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .featured-big-banner {
      width: 100%;
    }
  }
}

.blog-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin h1FS($reduceBY) {
  .blog-cards {
    margin: 10px;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
  }

  .blog-container {

    .top-section {
      .featured-big-banner {
        min-height: 80vh;
      }

      .left-section {
        padding-left: 20px;

        .title-text {
          font-size: 0.7rem;
        }
      }
    }
  }
}

// IPhone XR to Laarge Screen Device

@media screen and (max-height: 920px) and (min-width: 380px) and (orientation: portrait) {
  @include h1FS(7px);

  .m-top {
    margin-top: calc(50% - 60px);
  }

  .box- {
    &three {
      max-height: 400px;
    }
  }
}

@media screen and (max-width: 920px) and (min-height: 380px) and (orientation: landscape) {
  @include h1FS(7px);

  .m-top {
    margin-right: 1px;
  }
}

// IPhone SE to Small Screen Device

@media screen and (max-height: 680px) and (max-width: 380px) and (orientation: portrait) {
  @include h1FS(5px);

  .m-top {
    margin-top: calc(30% - 100px);
  }

  .box- {
    &three {
      max-height: 200px;
      min-height: auto;
    }
  }
}

@media screen and (max-width: 680px) and (max-height: 380px) and (orientation: landscape) {
  .m-top {
    margin: 10px;
  }
}

// IPad Air

@media screen and (min-width: 768px) and (max-height: 1024px) and (orientation: portrait) {
  @include h1FS(7px);

  .m-top {
    margin: calc(20% - 100px);
  }
}

@media screen and (min-width: 820px) and (max-height: 1180px) and (orientation: portrait) {
  .m-top {
    margin: calc(25% - 100px);
  }
}

// Galaxy Tab

@media screen and (min-width: 712px) and (max-height: 1138px) and (orientation: portrait) {
  .m-top {
    margin: calc(30% - 100px);
  }
}